@{
    ViewData["Title"] = "Home Page";
}

<tab active-page="Sessions">
    <tab-item title="Home"></tab-item>
    <tab-item title="Speakers"></tab-item>
    <tab-item title="Sessions"></tab-item>
    <tab-item title="Registration"></tab-item>
</tab>

@*<div class="container">
    <h3>Silicon Valley Code Camp</h3>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Speakers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Sessions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Registration</a>
        </li>
    </ul>
</div>*@