@model TagHelpers.Controllers.ModelAddress

@{
    ViewBag.Title = "ModelAddress";
    Layout = "_Layout";
}

<h1>
    <mod-test first-name="@Model.FirstName" last-name="@Model.LastName"></mod-test>
</h1>
